.img-logo {
	width: 84.93px;
	height: 62px;
}
.label-logo {
	width: 130px;
	height: 27px;
}

.header-border {
    border-color: var(--color-secondary-1);
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}