<main>
    <section class="flex-column background-primary-4 expand px-md py-xxs">
        <app-trackui-breadcrumb [opciones]="opcionesBreadcrumb" />
    </section>
    <trackui-divider orientacion="horizontal"></trackui-divider>
    <section class="flex-column background-primary-4 expand px-md pt-md">
        <div class="flex-column gap-xxxs text-inverse">
            <div class="flex gap-xxs text-medium items-center">
                <span trackuiIcon nombre="escuela" style="font-size: 12px;"></span>
                <label>IEEE. Villa el salvador</label>
            </div>
            <div class="flex expand items-center">
                <div class="flex gap-xs items-center expand" style="width: 100%;">
                    <span trackuiIcon nombre="flecha-izquierda" style="font-size: 24px;"></span>
                    <h4 class="text-bold">Trigonometría</h4>
                </div>
                <span trackuiIcon nombre="ajustes" style="font-size: 24px;"></span>
            </div>
            <div class="flex gap-xs items-center">
                <div class="flex gap-xxs items-center">
                    <span trackuiIcon nombre="nivel-facil" style="font-size: 12px;"></span>
                    <label>5° de secundaria</label>
                </div>
                <div class="flex punto items-center">
                    <span trackuiIcon nombre="punto" style="font-size: 3.75px;"></span>
                </div>
                <div class="flex gap-xxs items-center">
                    <span trackuiIcon nombre="fecha" style="font-size: 12px;"></span>
                    <label>28 abril, 2025</label>
                </div>
                <div class="flex punto items-center">
                    <span trackuiIcon nombre="punto" style="font-size: 3.75px;"></span>
                </div>
                <div class="flex gap-xxs items-center">
                    <span trackuiIcon nombre="estudiantes" style="font-size: 12px;"></span>
                    <label>35 alumnos</label>
                </div>
            </div>
        </div>
        <div>
            Aqui va el navbar pe
        </div>
    </section>
</main>
