<trackui-modal
	[trStyles]="{
		height: '552px',
	}"
	[titulo]="'Crear clase'"
	[cerrar]="cerrar()"
	[isOpen]="visible()"
	[existButtons]="false"
	(handleAction)="action($event)"
>
	<trackui-step 
		textoSiguiente="Siguiente"
		textoAnterior="Atrás"
		textoFinalizar="Crear clase"
		(finalizado)="onFinalizado()"
	>
		<item-step
			[stepNumber]="1"
			titulo="Detalles"
			[isValid]="formDetalles.valid"
		>
			<ng-template>
				<trackui-divider orientacion="horizontal"></trackui-divider>
				<form
					style="max-width: 350px; min-height: 279px"
					class="flex-colum gap-xs py-md"
					[formGroup]="formDetalles"
				>
					<div class="flex-column gap-xs" style="min-height: 279px">
						<label class="text-bold text-neutral-8">Detalles de clase</label>
						<div class="flex-column gap-xxs">
							<div class="flex-column gap-xxxs">
								<label class="text-description text-neutral-7 text-medium"
									>Nombre de la materia</label
								>
								<trackui-input
									label="Nombre de la materia"
									formControlName="nombre"
								></trackui-input>
							</div>
							<div class="flex-column gap-xxxs">
								<label class="text-description text-neutral-7 text-medium"
									>Institución</label
								>
								<trackui-select
									label="Seleccione"
									formControlName="institucion"
								>
									@for (option of opciones; track $index) {
										<trackui-option
											[id]="$index"
											[valor]="option.nombreInstitucion"
										></trackui-option>
									}
								</trackui-select>
							</div>
							<div class="flex gap-sm">
								<div class="flex-column gap-xxxs">
									<label class="text-description text-neutral-7 text-medium"
										>Grado</label
									>
									<trackui-input
										label="Grado"
										formControlName="grado"
									></trackui-input>
								</div>
								<div class="flex-column gap-xxxs">
									<label class="text-description text-neutral-7 text-medium"
										>Aula</label
									>
									<trackui-input
										label="Aula"
										formControlName="aula"
									></trackui-input>
								</div>
							</div>
						</div>
					</div>
				</form>
				<trackui-divider orientacion="horizontal"></trackui-divider>
			</ng-template>
		</item-step>

		<item-step [stepNumber]="2" titulo="Foto" [isValid]="formFoto.valid">
			<ng-template>
				<trackui-divider orientacion="horizontal"></trackui-divider>
				<form
					style="max-width: 350px; min-height: 279px"
					class="flex-colum gap-md pt-md"
					[formGroup]="formFoto"
				>
					<div class="flex-column gap-xxs" style="min-height: 279px">
						<div class="flex gap-xxxs">
							<label class="text-bold text-neutral-8">Foto de la clase</label>
							<label class="text-bold text-neutral-6">(Opcional)</label>
						</div>

						<trackui-upload formControlName="foto"></trackui-upload>
					</div>
				</form>
				<trackui-divider orientacion="horizontal"></trackui-divider>
			</ng-template>
		</item-step>
	</trackui-step>
</trackui-modal>
