.trackui-upload-button {
    border-radius: var(--spaceXs);
    padding: var(--spaceXs);
    display: flex;
    gap: var(--spaceSm);
    background-color: var(--color-cuaternary-8);
    align-items: center;
    box-shadow: 0px 0px 4px var(--color-base-50);
}

.trackui-upload-button:hover {
    background-color: var(--color-cuaternary-7);
}