* {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	line-height: 1;
	color: inherit;
}

button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

figure {
	line-height: 1;
	margin: 0;
	padding: 0;
	border: 0;
}
