<div class="trackui-select-container w100" [ngStyle]="trStyles()">
	<button
		class="flex items-center gap-xs px-xs py-xxxs trackui-select br-xs w100"
		(click)="openSelect()"
	>
		@if (icono()) {
			<span class="trackui-select-icon" trackuiIcon [nombre]="icono()!"></span>
		}

		<div
			class="flex-column items-start justify-center relative expanded"
			style="min-height: 39px; min-width: 40px"
		>
			<p>{{etiquetaAMostrar()}}</p>
		</div>

		<span
			class="trackui-select-icon"
			[ngClass]="{ 'trackui-select--open': isOpen() }"
			trackuiIcon
			nombre="flecha-abajo"
			style="font-size: 16px"
		></span>
	</button>

	@if (isOpen()) {
		<div class="trackui-opciones-container" @accordionOpciones>
			<div class="flex-column gap-xxxs">
				<ng-content></ng-content>
			</div>
		</div>
	}
</div>
