<main class="flex-column gap-md p-md">
	<div class="flex-column gap-xs">
		<h4>PlayGround TrackUI</h4>
		<p>Para la visualización de componentes trackUI</p>
	</div>
	<section class="flex-column items-start">
		<seccion-componente titulo="Toggle Button">
			<div class="flex gap-md">
				<trackui-toggle-button tipo="semantico" [formControl]="controlToggle" />
				<trackui-toggle-button tipo="primary" />
				<trackui-toggle-button tipo="secondary" />
			</div>
		</seccion-componente>
		<seccion-componente titulo="Etiqueta">
			<div class="flex flex-wrap gap-md">
				<app-trackui-etiqueta
					*ngFor="let tipo of tiposEtiquetas"
					[tipo]="tipo"
					[fill]="true"
					nombreIcon="upload"
					>{{ tipo }}-true</app-trackui-etiqueta
				>
				<app-trackui-etiqueta
					*ngFor="let tipo of tiposEtiquetas"
					[tipo]="tipo"
					[fill]="false"
					nombreIcon="buscar"
					>{{ tipo }}-false</app-trackui-etiqueta
				>
			</div>
		</seccion-componente>

		<seccion-componente titulo="Iconos">
			<!-- una directiva  -->
			<span trackuiIcon nombre="add" style="font-size: 40px"></span>
			<!-- con font-size se puede especificar el tamaño del icon, es un cuadrado.  -->
		</seccion-componente>

		<seccion-componente class="w100" titulo="Input">
			<div class="flex expanded gap-md">
				<trackui-input
					label="Contraseña"
					icono="user"
					[isErasable]="true"
					[formControl]="controlInput"
					[errorMessage]="controlInput.getError('minlength')"
				></trackui-input>
			</div>
			<!-- {{ controlInput.value }}
			{{ controlInput.errors }} -->
		</seccion-componente>
	</section>
</main>
