<main class="flex-column gap-md p-md">
	<div class="flex-column gap-xs">
		<h4>PlayGround TrackUI</h4>
		<p>Para la visualización de componentes trackUI</p>
	</div>
	<section class="flex-column" >
		<seccion-componente titulo="Toggle Button">
			<!-- ¡Aquí va tu componente tessita! -->
			<div class="flex gap-md">
				<trackui-toggle-button tipo="semantico" />
				<trackui-toggle-button tipo="primary" />
				<trackui-toggle-button tipo="secondary" />
			</div>
			<!-- end -->
		</seccion-componente>
	</section>
</main>
